.main-recruit{
 
    box-sizing: border-box;
    /* display: flex;*/
    justify-items: center;
    /*align-items: center; */
    /* min-height: 100vh;*/
    display: grid;
    grid-template-columns: 1fr 1fr ;
    /* margin-left: 150px; */
    /* align:center; */
    margin-top: 20px;

} 
.container1{
    position: relative;
    width: 350px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px ;
    box-shadow: 15px 15px 15px rgba(255, 255, 255, 0.1);
    transition: 0.5s;
}
.container1 .card1{
    position: relatiove;
    height: 230px;
    background: #FFF;
    display: flex;
    width: 100%;
    /* margin: 30px 0; */
}
.container1 .card1 .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #242323;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    height: 230px;
}
.i1{
    height: 100px;
    width: 300px;
}
.container1 .card1 .imgBx:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    top: 80%;
    width: 100%;
    height:100%;
    text-align: center;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.4);
    /* color: pink; */
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.container1 .card1:hover .imgBx{
    width: 150px;
    height: 120px;
    left: -85px;
    top:calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: black;
    cursor: pointer;
    border-radius: 50%;
}
.container1 .card1 .imgBx img{
    max-width: 100px;
    /* max-height: 100px; */
    transition: ease-in-out;
}
.container1 .card1:hover .imgBx img{
    max-width: 75px;
    max-height: 75px;
    
}
.container1 .card1 .content1{
    position: absolute;
    right: 0;
    width: calc(100% -75px);
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    /* margin-left: 25px; */
    background: #2479a7;
    color: #fff;
    padding-right: 10px;
}
.container1 .card1 .content1 h3{
    text-align: right;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;

}
.container1 .card1 .content1 p{
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 0;

}
@media(max-width:774px){
    .container1{
        width:450px;
    }
    .main-recruit{
        grid-template-columns: 1fr;
    }
}
@media (max-width:520px){
    .container1{
        width:400px;
    }
}
@media (max-width:441px){
    .container1 {
        width: 300px;
    }
    .container1 .card1 .imgBx:before{
        font-size: 2rem;
    }
}