:root{
    --myfont: 'Mulish', sans-serif;
    --my-btn-font: 'Montserrat', sans-serif;
    --lg-lightcolor: linear-gradient(to left rgba(116, 235, 213, 0.6), rgba(159, 172, 230, 0));
    --lg-color: linear-gradient(to left, #74ebd5, #9face6)
}
.inpmain{
    font-family: var(--myfont);
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 1000vh;
    width: 100vw;
}
.inp_container{
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 2.8px 2.2px rgba(0,  0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12;
    overflow: hidden;
    width: calc(100vw - 65vw);
    max-width: 100%;
}
.inp_header{
    background: var(--lg-color);
    padding: 30px 0;
}
.inp_header h2{
    color: #222;
    font-family: var(--my-btn-font);
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.inp_btn{
background: var(--lg-color);
border-radius: 6px;
border: none;
outline: none;
display: block;
font-family: var(--my-btn-font);
font-size: 16px;
padding: 15px 0;
margin-top: 20px;
width: 100%;
font-weight: bold;
text-transform: uppercase;
transition: all 1s ease;
}